<h1>Mail to Administrator - IT edit vessel - record changes</h1>

The user with the ip <%= @ip %> update the <%= link_to "vessel", edit_admin_vessel_url(@vessel) %> 
<p>with the current values:</p>
<div>
  <%= render 'vessel_values' %>
</div>
<div>
    <p>who before values are:</p>
    <p>      Title: <%= @vessel_before.title %></p>
    <p>Description: <%= @vessel_before.description %></p>
    <p>Daily Price: <%= @vessel_before.daily_price %></p>
</div>